Processo de Linguagem Natural/n8n-multilingual-agent/workflow-traduzir-explicacao.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1120,
        224
      ],
      "id": "44827879-87bf-45d0-9336-44f557043ab3",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "z4B5RDoinVXaRRI5",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.translated }} {{ $json.explanation }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1728,
        16
      ],
      "id": "7ef8a182-22e4-417a-ac1d-21527575930a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Pega todos os inputs do node anterior\nconst previousItems = $input.all();\n\n// Pega a saída do AI Agent\nlet aiOutputRaw = previousItems[0]?.json?.output || \"\";\n\n// Caso venha Markdown com ```json ... ``` remove\naiOutputRaw = aiOutputRaw.replace(/^```json\\s*/, \"\").replace(/\\s*```$/, \"\");\n\n// Aqui vamos tratar o texto bruto:\n// - A primeira frase será considerada a tradução\n// - O resto será a explicação\nlet translatedText = \"\";\nlet explanationText = \"\";\n\nif (aiOutputRaw.trim() !== \"\") {\n    // Quebra em sentenças pelo ponto\n    const sentences = aiOutputRaw.split(\". \");\n    if (sentences.length > 0) {\n        translatedText = sentences[0].trim();\n        explanationText = sentences.slice(1).join(\". \").trim();\n    }\n}\n\n// Monta o JSON final\nconst output = {\n    translated: translatedText || \"Sem tradução\",\n    explanation: explanationText || \"Sem explicação\",\n    timestamp: new Date().toISOString()\n};\n\n// Retorna no formato que o n8n espera\nreturn [\n    { json: output }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        16
      ],
      "id": "ad48d955-bf4a-4c00-858d-931605e44e65",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text }}",
        "options": {
          "systemMessage": "=Você é um agente de explicação multilíngue confiável. \nSua tarefa é traduzir um texto e explicar o conteúdo no idioma destino.\nSempre responda apenas em JSON com os campos: translated, explanation.\nNunca adicione comentários ou textos fora do JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1200,
        16
      ],
      "id": "9adc75b9-7392-4ade-b27c-cd1f5f6ebd01",
      "name": "AI Agent1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "traduzir-explicacao",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        960,
        16
      ],
      "id": "9df5a9c5-e78e-4914-a0aa-04950f6785c8",
      "name": "Webhook1",
      "webhookId": "e00ef1d9-e501-4978-b55c-b1653ed54e3b"
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8ddddfd6-e409-4445-9e37-1fd82b430dce",
  "meta": {
    "instanceId": "19e98b8bee83825559eb1bbf66761b1212f31f4e7689daa0d550c1df5548ad1b"
  },
  "id": "VlSUsWzaqyWbhUeE",
  "tags": []
}